.main-container {
    margin-right: 5rem;
}

.left-align {
    margin-left: 5rem;
    transition: margin-left .5s;
}

.right-align {
    margin-left: 25rem;
    transition: margin-left .5s;
    
}

@media screen and (max-width: 700px) {
    .right-align {
        margin-left: 10rem;
    }
}