.container {
  position: fixed;
  background-color: #222;
  color: white;
  display: flex;
}

.navbar {
  height: 4rem;
  width: 100%;
  z-index: 2;
}

.arrow-container {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  padding: 1.25rem;
  margin: 0rem 0rem 0rem 1rem;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: .5rem;
}

.left {
  transform: rotate(135deg);
  transition: transform .5s;
}

.down {
  transform: rotate(45deg);
  transition: transform .5s;
}

.cart-button { 
  margin-right: 3rem;
  margin-top: .35rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.flex-end {
  display: inline-flex;
  flex-direction: row;
  width: 100rem;
  justify-content: flex-end;
  margin: .25rem 2rem 0rem 0rem;
}
