.container {
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
}

.sidebar {
  height: 100%;
  width: 20rem;
  background-color: #222;
  z-index: 1;
}

.active {
  left: 0;
  transition: left .5s;
}

.hidden {
  left: -20rem;
  transition: left .5s;
}

