.sidebar-body {
    width: 100%;
    margin-top: 5rem;
}

.sidebar-body h2 {
    color: white;
    padding: 1rem;
    background-color: #444;
}

.sidebar-body ul {
    list-style: none;
    padding: 0;
}

.sidebar-body ul li {
    padding: 1rem;
    color: white;
    background-color: #444;
    margin: 1rem;
    user-select: none;
    cursor: pointer;
}

.sidebar-body ul li:hover {
    background-color: #999;
}

.sidebar-body ul li:active {
    background-color: #777;
}

.sidebar-link {
    text-decoration: none;
    color: white;
}